#id{
    display: flex;
}

h1{
    text-align: center;
}

button{
    display: flex;
    margin: auto;
    border-radius: 10rem;
    padding: .5rem;
}

.generate_btn{
    background-color: rgb(60, 255, 0);  
    margin-bottom: .5rem;  
}

.delete_btn{
    background-color: rgb(255, 51, 0);
}